# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution and Packaging
.vscode/
.Python
build/
sm-venv/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Flask Stuff
instance/
.webassets-cache
